fastapi
uvicorn
pandas==2.1.4
scikit-learn==1.3.2
python-dotenv
numpy==1.26.4
scipy==1.11.4
langchain
langchain-pinecone
langchain-mistralai
langchain-community
langchain-huggingface
sentence-transformers==2.2.2
pydantic
pydantic-settings